.main_business {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: inherit;
}

.business_text {
  margin: 10px auto 40px auto;
}

.nav__business__back {
  color: white;
  font-size: 30px;
  margin: auto 5px;
}
