section {
  width: 100vw;
  overflow-x: hidden;
}
header {
  overflow-x: hidden;

  background-image: url(../../CityEcoView/images/Slider.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;

  transition: 0.5s;
}

.section_nav {
  margin: 0 auto;
  width: 80%;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/* LOGO_TOP_LEFT */

.nav_logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav_logo,
.nav_logo img {
  height: 40px;
  margin: 0 10px;
}

/* NAV TOP RIGHT */

.nav_navigation-ul {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav_navigation-ul li {
  list-style: none;
}
.nav_navigation-ul a {
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  padding: 10px 20px;
  transition: 0.3s;
}

.nav_navigation-ul a.contact {
  background-color: $base-col;
}

.nav_navigation-ul a:hover {
  background-color: $base-col;
  color: black;
}

/* BURGER */

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 40px;
  height: 5px;
  background-color: white;
  margin: 8px;
}

/* HEADER SECTION */

.header_text {
  margin: 0 auto;
  display: flex;

  width: 80%;
  height: calc(100vh - 100px);
}

.header_text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
}

.header_welcome {
  margin: 10px;
  letter-spacing: 2px;
  font-weight: 300;

  width: 50%;
  font-size: 70px;
}

.header_welcome-text {
  font-size: 25px;
  letter-spacing: 1px;

  padding: 10px;

  font-weight: 200;

  width: 60%;
  letter-spacing: 2px;
}

.header_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: transparent;
  font-size: 20px;
  color: white;
  background-color: $base-col;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;

  margin: 30px 0;
}

.header_btn:hover {
  background-color: $base-col;
  color: black;
}

.header_logo {
  height: 50vh;
  margin: 0 20px 0 0;
}
