.location {
    background-color: #f8f9fa;

}

.location_container {
    margin: 20px auto 20px auto;
    padding: 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;

    background-color: #f8f9fa;

}

.location_warsaw{
    height: 250px;
    }

.location_text-container {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.location_text-container span {
    font-weight: bold;
}


.location_text-bottom{
    font-weight: bold;
}


.location_title{
        position: relative;
        font-size: 40px;
        font-weight: bold;
        margin-top: 20px;
    }
    
.location_title::before{
        content: "";
        position: absolute;
        bottom: -10px;
        left:50%;
        transform: translateX(-50%);
        width: 60px;
        height: 3px;
        background-color: #15E8D3;
    }