.main_container {
  overflow-x: hidden;
  margin: 20px auto 20px auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

  width: 80%;

  transform: translateX(-100%);
  transition: 0.8s ease-in-out;
}

li {
  list-style: none;
}

.main_text-arrow {
  font-size: 20px;
  margin: 0 10px;
  color: #15e8d3;
}

.main_text-container {
  display: flex;
}

.main_title {
  position: relative;
  font-size: 36px;
  margin: 0 0 24px 0px;
  font-weight: 300;
}

.main_text {
  width: 50%;
}

.main_arrow_goals {
  margin-bottom: 44px;
}

.main_arrow {
  margin: 0 0 0 130px;
}
.main_text-bottom {
  width: 100%;

  margin: 20px auto 0 auto;

  padding: 30px 40px;
  border: 3px solid black;
  border-radius: 10px;
}

.main_text-bottom span {
  font-weight: 800;
}

.main_logo {
  height: 250px;
}
