.main_container {

    overflow-x: hidden;
    margin: 20px auto 20px auto;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 80%;

    transform: translateX(-100%);
    transition: .8s ease-in-out;

}

li {
    list-style: none;
}

.main_text-arrow{
    font-size: 14px;
    color:#15E8D3;
}

.main_text-container {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.main_title{
    position: relative;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}

.main_title::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left:50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background-color: #15E8D3;
}

.main_text-bottom{
    font-weight: bold;
}

.main_logo{
    height: 250px;
    }