.medias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.medias_contact-title {
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
}

.medias_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.medias_contact label {
  transform: translateX(-999999px);
}

input[type="text"],
input[type="email"],
.textarea {
  padding: 10px 3px;
  width: 300px;
  border: none;
  background-color: #f3f4f4;
}

.textarea {
  resize: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
.textarea:focus {
  outline: none;
  border: 1px solid $base-col;
}

.form_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 60px;
  border-radius: 4px;
  background-color: $base-col;
  color: white;
  text-align: center;
  cursor: pointer;

  border: none;
  outline: none;
  margin: 10px 0;
}

.form_button:hover {
  color: black;
}

.medias_icons-container {
  display: flex;
}
.medias_icons-container a {
  color: black;
  font-size: 40px;
  margin: 20px;
  padding: 20px;
  transition: 0.3s;
}

.medias_icons-container a:hover {
  text-shadow: 1px 1px 2px black;
}
