.team {
  padding-bottom: 20px;
  transform: scale(0);
  transition: 2s ease-in-out;
  margin: 10px;
}

.team_container {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.team_title {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  font-weight: 300;
  margin-top: 20px;
}

.team_text {
  margin: 20px auto;
}

.team_elements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px auto;
  width: 100%;
}

.team_elements div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 100px;
  height: 100px;
  padding: 20px;
  font-size: 0.8em;
  background-color: white;
  box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, 0.1);
}

.team_elements div img {
  height: 50px;
}

.team_elements .t_text {
  margin: 10px auto;
  font-size: 10px;
}

.team_text {
  font-weight: bold;
  font-size: 14px;
}

.team_text .info {
  font-weight: bold;
  font-size: 18px;
  margin: 0 10px;
}
