/* font-family: 'Cabin', sans-serif; */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
    font-family: 'Cabin', sans-serif;
}

body {
    overflow-x: hidden;
}

header{

    overflow-x: hidden;
 
    background-image: url(images/bg_big.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;

    transition: .5s;
}

.section_nav {
    margin: 0 auto;
    width: 80%;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}

/* LOGO_TOP_LEFT */

.nav_logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.nav_logo, .nav_logo img{
    font-size: 40px;
    font-weight: bold;
    height: 80px;
}

/* NAV TOP RIGHT */

.nav_navigation-ul{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav_navigation-ul li {
    list-style: none;
}
.nav_navigation-ul a {
    color: white;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.nav_navigation-ul a:hover{
    background-color: #15E8D3;
    color: black;
}

/* BURGER */

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 40px;
    height: 5px; 
    background-color: white;
    margin: 8px;

}

/* HEADER SECTION */

.header_text {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 100px;

    width: 80%;
    height: calc(100vh - 100px);

}

.header_text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_welcome{
    margin: 0px auto 10px auto;
    letter-spacing: 2px;

    font-size: 70px;
}

.header_welcome-text {
    font-size: 18px;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.header_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;

    margin: 30px 0 0 20px;
}


.header_btn:hover{
background-color: #15E8D3;
color: black;
}

.header_logo{
    height: 50vh;
    margin: 0 20px 0 0;
}


/* MAIN  */

.main_container {

    overflow-x: hidden;
    margin: 20px auto 20px auto;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 80%;

    transform: translateX(-100%);
    transition: .8s ease-in-out;

}

li {
    list-style: none;
}

.main_text-container {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.main_title{
    position: relative;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}

.main_title::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left:50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background-color: #15E8D3;
}

.main_text-bottom{
    font-weight: bold;
}

.main_logo{
    height: 250px;
    }

    /* FUNCTIONALITY */

.functionality{
        padding-bottom: 20px;
        background-color: #f8f9fa;
    }

.func_container{
        margin: 0 auto;
        text-align: center;
        width: 80%;
    }

.func_title{
        position: relative;
        font-size: 40px;
        font-weight: bold;
        margin-top: 20px;
    }

.func_title::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left:50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background-color: #15E8D3;
    }

.func_text{
        margin: 30px auto;
    }

.func_elements {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

.func_elements div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 450px;
        height: 450px;
        padding: 20px;
        background-color: white;
        box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
    }

.func_elements div img {
        height: 400px;
    }

/* EXAMPLE  */

.example{
    padding-bottom: 20px;
}

.example_container{
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.example_title{
    position: relative;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}

.example_title::before{
content: "";
position: absolute;
bottom: -10px;
left:50%;
transform: translateX(-50%);
width: 60px;
height: 3px;
background-color: #15E8D3;
}

.example_text{
    margin: 20px auto;
}

.example_elements {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.example_elements div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
}

.example_elements div img {
    height: 250px;
}

.example_elements .e_text {
    margin: 10px auto;
}

/* LOCATION  */

.location {
    background-color: #f8f9fa;

}

.location_container {
    margin: 20px auto 20px auto;
    padding: 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;

    background-color: #f8f9fa;

}

.location_warsaw{
    height: 250px;
    }

.location_text-container {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.location_text-container span {
    font-weight: bold;
}


.location_text-bottom{
    font-weight: bold;
}


.location_title{
        position: relative;
        font-size: 40px;
        font-weight: bold;
        margin-top: 20px;
    }
    
.location_title::before{
        content: "";
        position: absolute;
        bottom: -10px;
        left:50%;
        transform: translateX(-50%);
        width: 60px;
        height: 3px;
        background-color: #15E8D3;
    }

    
    /* TEAM  */

    .team{
        padding-bottom: 20px;
    }
    
    .team_container{
        margin: 0 auto;
        text-align: center;
        width: 80%;
    }
    
    .team_title{
        position: relative;
        font-size: 40px;
        font-weight: bold;
        margin-top: 20px;
    }
    
    .team_title::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left:50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background-color: #15E8D3;
    }
    
    .team_text{
        margin: 20px auto;
    }
    
    .team_elements {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
    .team_elements div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px auto;
        width: 200px;
        height: 200px;
        padding: 20px;
        background-color: white;
        box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
    }
    
    .team_elements div img {
        height: 150px;
    }
    
    .team_elements .t_text {
        margin: 10px auto;
    }

.team_text{
    font-weight: bold;
    font-size: 18px;
}

/* CONTACT  */

.contact_container {
    margin: 20px auto 20px auto;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 80%;

}

.contact_text-container {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.contact_title{
    position: relative;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}

.contact_title::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left:50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background-color: #15E8D3;
}

.contact_mail{
    color: #15E8D3;
    text-transform: none;
    text-decoration: none;
}

.contact_mail:hover{
    color: #107a72;
}
.contact_logo{
    height: 150px;
    }

    /* MEDIAS  */

.medias{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #15E8D3;
        min-height: 800px;
    }
    .medias_contact-title{
        font-size: 40px;
        font-weight: bold;
        margin: 10px;
    }

.medias_contact{
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: white;
        box-shadow: 10px 10px 10px 0 rgba(76, 110, 245, .2);
    }

.medias_contact label {
        transform: translateX(-999999px);
    }  
    
    input[type=text],
    input[type=email],
    .textarea{
    padding: 10px 3px;
    width: 300px;
    border: 1px solid black;
    }   
   
    .textarea{
     min-height: 300px;
     resize: none;
    }

    input[type=text]:focus,
    input[type=email]:focus,
    .textarea:focus{
        outline: none;
        border:1px solid #15E8D3;
    }

    .form_button{
    display: block;
    border: 1px solid black;
    padding: 5px 30px;
    width: 130px;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    outline: none;
    margin: 10px 0;
}

.form_button:hover {
    background-color: #212020;
}

.medias_icons-container{
    display: flex;
} 
.medias_icons-container a {
        color: white;
        font-size: 80px;
        margin: 20px;
        padding: 20px;
        transition: .3s;
    }

.medias_icons-container a:hover {
        font-size: 100px;
        text-shadow: 1px 1px 2px black;
    }

    /* FOOTER  */

.footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #212020;
    }

.footer a {
    margin: 10px 30px 10px 30px;
    text-decoration: none;
    color: white;
    }

.footer a:hover {
    color: gray;
}


/* JAVASCRIPT  */

.nav_sticky {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1;
    transition: .2s ease-in-out;
    color:white;
}


@media (max-width: 1024px) {
    
    header{
        background-image: url(images/bg_small.jpg);
    }

    body {
        overflow-x: hidden;
    }
  
    .header_logo {
        display: none;
    }

    .burger {
    display: block;
    transition:  .3s;
    }

    .burger div {
        width: 60px;
        height: 10px; 
        margin: 10px;
    
    }

    .toggle .line1 {
        transition: .3s;
        transform: rotate(-45deg) translate(-50%);
    }
    .toggle .line2 {
        transition: .8s;
        transform: translateX(50%);
        opacity: 0;
    }
    .toggle .line3 {
        transition: .3s;
        transform: rotate(45deg) translate(-50%);
    }

    .nav_logo, .nav_logo img{
        height: 100px;
    }

    .nav_navigation-ul {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);

        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        transform: translateX(105%);
        transition: transform 0.3s ease-in;

        display: none;
    }

    .nav_navigation-ul a {
        font-size: 70px;
        border: 2px solid white;
    }

    .nav-active {
        display: flex;
        transform: translateX(0%);
        transition: .3s;
    }

    .header_text {
        text-align: center;
    }

    .header_text-section{
        align-items: center;
    }

  .header_welcome {
      font-size: 180px;
  }

  .header_welcome-text {
      font-size: 40px;
  }

  .header_btn {
      font-size: 35px;
      width: 350px;
      height: 150px;
      margin: 120px auto;
  }

  .main_container {
      width: 95%;
  }

  .main_logo{
      display: none;
  }

  .main_title{
      font-size: 50px;
  }

  .main_text-container{
      width: 65%;
      font-size: 30px;
  }

.func_title {
    font-size: 50px;
}

.func_text {
    font-size: 30px;
}

.func_elements {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.func_elements div {
    width: 700px;
    height: 700px;
    margin: 30px auto;
}

.func_elements div img {
    height: 650px;
}

.example_title {
    font-size: 50px;
}

.example_elements {
    flex-direction: column;
}

.example_elements div {
    width: 700px;
    height: 700px;
}

.example_elements div img {
    height: 650px;
}

.example_elements div p {
    font-size: 30px;
}
  
.location_container {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.location_title {
    font-size: 50px;
}

.location_text-container{
    width: 100%;
    margin: 10px auto;
}

.location_text {
    font-size: 30px;
}

.team_title {
    font-size: 50px;
}

.team_elements{
    flex-wrap: wrap;
}

.team_elements div {
   width: 400px;
   height: 400px;
}

.team_elements div img {
    width: 300px;
    height: 300px;
}

.t_text {
    font-size: 30px;
}

.team_text{
    font-size: 30px;
}

.contact_title{
    font-size: 50px;
}

.contact_text {
    font-size: 30px;
}

.medias_contact-title{
    font-size: 50px;
}

.medias_contact {
    font-size: 30px;
}

.medias_contact{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    box-shadow: 10px 10px 10px 0 rgba(76, 110, 245, .2);
}

.medias_contact label {
    transform: translateX(-999999px);
}  

input[type=text],
input[type=email],
.textarea{
padding: 40px 10px;
width: 600px;
border: 1px solid black;
font-size: 30px;
}   

.textarea{
 min-height: 300px;
}

input:focus{
    outline: none;
    border:1px solid #15E8D3;
}

.form_button{
    font-size: 30px;
   width: 230px;
   padding: 15px 40px;
}

.medias_icons-container a{
    font-size: 100px;
}

.footer a {
    font-size: 20px;
}
}


@media (max-width: 768px){

    body {
        overflow-x: hidden;
    }

    .nav_navigation-ul a {
        font-size: 60px;
    }
    
    .header_welcome {
        font-size: 120px;
    } 

    
    .main_title{
        font-size: 40px;
    }

    .func_title {
        font-size: 40px;
    }

    .func_elements div {
        width: 600px;
        height: 600px;
        margin: 20px auto;
    }
    
    .func_elements div img {
        height: 550px;
    }

    .example_title {
        font-size: 40px;
    }

    .example_elements div {
        width: 600px;
        height: 600px;
    }
    
    .example_elements div img {
        height: 550px;
    }

    .location_title {
        font-size: 40px;
    }

    .team_title {
        font-size: 40px;
    }

    .contact_title{
        font-size: 40px;
    }

    .medias_contact-title{
        font-size: 40px;
    }

    .medias_icons-container a{
        font-size: 80px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 414px){

    body{
        overflow-x: hidden;
    }

    .nav_logo, .nav_logo img{
        height: 50px;
        font-size: 20px;
    }

    .nav_navigation-ul{
        width: 100%;
    }
 
    .nav_navigation-ul a {
     font-size: 20px;
     border: 2px solid white;
 }

 .burger div {
    width: 40px;
    height: 3px; 
    background-color: white;
    margin: 8px;
}
    
    .header_welcome {
        font-size: 80px;
    }
   .header_welcome-text{
       font-size: 20px;
   }

   .header_btn {
    font-size: 16px;
    width: 200px;
    height: 100px;
    margin: 20px auto;
}

.main_container {
    flex-direction: column;
    align-items: center;
    width: 98%;
}

.main_title {
    font-size: 30px;
}

.main_text-container{
    width: 98%;
    font-size: 20px;
}

.main_text {
    font-size: 16px;
    margin: 20px auto 10px auto;
}

.main_text-bottom {
    font-size: 20px;
}
.func_container {
    width: 95%;
}

.func_title {
    font-size: 30px;
}

.func_text{
    font-size: 16px;
}

.func_elements div {
    width: 350px;
    height: 350px;
    margin: 5px auto;
}

.func_elements div img {
    height: 300px;
}

.example_title {
    font-size: 30px;
}

.example_elements div {
    width: 350px;
    height: 350px;
}

.example_elements div img {
    height: 300px;
}

.example_elements div p {
    font-size: 16px;
}

.location_title {
    font-size: 30px;
}
.location_text {
    font-size: 16px;
}

.team_title {
    font-size: 30px;
}

.team_elements div {
    width: 350px;
    height: 350px;
 }

 .team_elements div img {
    width: 200px;
    height: 200px;
}

.team_text{
    font-size: 16px;
}

.contact_container {
    flex-direction: column;
    align-items: center;
    width: 98%;
}

.contact_title{
    font-size: 30px;
}

.contact_text {
    font-size: 16px;
    margin: 20px auto 10px auto;
}

.medias_contact-title{
    font-size: 30px;
}

.medias_contact {
    font-size: 16px;
}

input[type=text],
input[type=email],
.textarea{
padding: 40px 10px;
width: 300px;
border: 1px solid black;
font-size: 30px;
}   

.textarea{
 min-height: 200px;
}

.medias_icons-container{
    flex-wrap: wrap;
    justify-content: center;
}
.medias_icons-container a{
    font-size: 120px;
}

.footer a {
    font-size: 12px;
}

}

@media (max-width: 375px){

    body{
        overflow-x: hidden;
    }

    .nav_logo, .nav_logo img{
        height: 60px;
        font-size: 20px;
    }

    .nav_navigation-ul{
        width: 100%;
        align-items: flex-start;
        justify-content: space-around;
    }
 
    .nav_navigation-ul li a {
     font-size: 30px;
     margin-left: 10px;
 }
    
    .header_welcome {
        font-size: 70px;
    }
   .header_welcome-text{
       font-size: 18px;
   }


.main_container {

    width: 95%;
}

.main_title {
    font-size: 30px;
}

.main_text-container{
    width: 98%;
    font-size: 20px;
}

.main_text {
    font-size: 16px;
    margin: 20px auto 10px auto;
}

.main_text-bottom {
    font-size: 20px;
}
.func_container {
    width: 95%;
}

.func_elements div {
    width: 300px;
    height: 300px;
    margin: 5px auto;
}

.func_elements div img {
    height: 250px;
}

.example_title {
    font-size: 30px;
}

.example_elements div {
    width: 300px;
    height: 300px;
}

.example_elements div img {
    height: 250px;
}

.example_elements div p {
    font-size: 16px;
}

.location_title {
    margin: 5px auto;
}
.location_text {
    font-size: 16px;
}

.location_warsaw {
    height: 200px;
}


.medias_icons-container a{
    font-size: 80px;
}

.footer a {
    font-size: 16px;
}

}

/* ANIMATE LEFT  */

.animate_left {
    transform: translateX(0);
}

/* BUSINESS  */

.main_business{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.business_text{
    margin: 10px auto 40px auto;
}


