* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

section {
  width: 100vw;
  overflow-x: hidden;
}

header {
  overflow-x: hidden;
  background-image: url(../../CityEcoView/images/Slider.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section_nav {
  margin: 0 auto;
  width: 80%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}

/* LOGO_TOP_LEFT */
.nav_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.nav_logo,
.nav_logo img {
  height: 40px;
  margin: 0 10px;
}

/* NAV TOP RIGHT */
.nav_navigation-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 60%;
}

.nav_navigation-ul li {
  list-style: none;
}

.nav_navigation-ul a {
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  padding: 10px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav_navigation-ul a.contact {
  background-color: #15e8d3;
}

.nav_navigation-ul a:hover {
  background-color: #15e8d3;
  color: black;
}

/* BURGER */
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 40px;
  height: 5px;
  background-color: white;
  margin: 8px;
}

/* HEADER SECTION */
.header_text {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: calc(100vh - 100px);
}

.header_text-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
  width: 100%;
}

.header_welcome {
  margin: 10px;
  letter-spacing: 2px;
  font-weight: 300;
  width: 50%;
  font-size: 70px;
}

.header_welcome-text {
  font-size: 25px;
  letter-spacing: 1px;
  padding: 10px;
  font-weight: 200;
  width: 60%;
  letter-spacing: 2px;
}

.header_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: transparent;
  font-size: 20px;
  color: white;
  background-color: #15e8d3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  margin: 30px 0;
}

.header_btn:hover {
  background-color: #15e8d3;
  color: black;
}

.header_logo {
  height: 50vh;
  margin: 0 20px 0 0;
}

.main_container {
  overflow-x: hidden;
  margin: 20px auto 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 80%;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

li {
  list-style: none;
}

.main_text-arrow {
  font-size: 20px;
  margin: 0 10px;
  color: #15e8d3;
}

.main_text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_title {
  position: relative;
  font-size: 36px;
  margin: 0 0 24px 0px;
}

.main_text {
  width: 50%;
}

.main_arrow_goals {
  margin-bottom: 44px;
}

.main_arrow {
  margin: 0 0 0 130px;
}

.main_text-bottom {
  width: 100%;
  margin: 20px auto 0 auto;
  padding: 30px 40px;
  border: 3px solid black;
  border-radius: 10px;
}

.main_text-bottom span {
  font-weight: 800;
}

.main_logo {
  height: 250px;
}

.functionality {
  padding-bottom: 20px;
  background-color: #f8f9fa;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.func_container {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.func_title {
  position: relative;
  font-size: 40px;
  font-weight: 400;
  margin-top: 20px;
}

.func_text {
  margin: 30px auto;
}

.func_elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
}

.func_elements div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 450px;
  height: 450px;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, 0.1);
  box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, 0.1);
}

.func_elements div img {
  height: 400px;
}

.example {
  padding-bottom: 20px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.example_container {
  margin: 0 auto;
  width: 80%;
}

.example_title {
  position: relative;
  font-size: 40px;
  font-weight: 400;
  margin-top: 20px;
}

.example_text {
  margin: 20px auto;
}

.example_elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
}

.example_elements div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px auto;
  width: 300px;
  height: 300px;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, 0.1);
  box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, 0.1);
}

.example_elements div img {
  height: 250px;
}

.example_elements .e_text {
  margin: 10px auto;
  font-weight: 800;
}

.example_elements .e_text span {
  font-weight: 300;
}

.location {
  background-color: #f8f9fa;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.location_container {
  margin: 20px auto 20px auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 80%;
  background-color: #f8f9fa;
}

.location_warsaw {
  height: 250px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.location_text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 45%;
}

.location_text-container span {
  font-weight: bold;
}

.location_text-bottom {
  font-weight: bold;
}

.location_title {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
}

.team {
  padding-bottom: 20px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  margin: 10px;
}

.team_container {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.team_title {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  font-weight: 400;
  margin-top: 20px;
}

.team_text {
  margin: 20px auto;
}

.team_elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px auto;
  width: 100%;
}

.team_elements div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px auto;
  width: 100px;
  height: 100px;
  padding: 20px;
  font-size: 0.8em;
  background-color: white;
  -webkit-box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, 0.1);
  box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, 0.1);
}

.team_elements div img {
  height: 50px;
}

.team_elements .t_text {
  margin: 10px auto;
  font-size: 10px;
}

.team_text {
  font-weight: bold;
  font-size: 14px;
}

.team_text .info {
  font-weight: bold;
  font-size: 18px;
  margin: 0 10px;
}

.contact_container {
  margin: 20px auto 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact_title {
  position: relative;
  font-size: 40px;
  font-weight: 400;
  margin: 20px auto;
}

.contact_text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.contact_mail {
  color: #15e8d3;
  text-transform: none;
  text-decoration: none;
}

.contact_mail:hover {
  color: #107a72;
}

.medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.medias_contact-title {
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
}

.medias_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.medias_contact label {
  -webkit-transform: translateX(-999999px);
  transform: translateX(-999999px);
}

input[type="text"],
input[type="email"],
.textarea {
  padding: 10px 3px;
  width: 300px;
  border: none;
  background-color: #f3f4f4;
}

.textarea {
  resize: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
.textarea:focus {
  outline: none;
  border: 1px solid #15e8d3;
}

.form_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 18px 60px;
  border-radius: 4px;
  background-color: #15e8d3;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 10px 0;
}

.form_button:hover {
  color: black;
}

.medias_icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.medias_icons-container a {
  color: black;
  font-size: 40px;
  margin: 20px;
  padding: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.medias_icons-container a:hover {
  text-shadow: 1px 1px 2px black;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
  background-color: #181e1b;
}

.footer a {
  margin: 10px 30px 10px 30px;
  text-decoration: none;
  color: white;
}

.footer a:hover {
  background-color: #181e1b;
}

.nav_sticky {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: white;
}

.animate_left {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.animate_right {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.animate_scale {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.main_business {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: inherit;
  transform: inherit;
}

.business_text {
  margin: 10px auto 40px auto;
  width: 100%;
}

.nav__business__back {
  display: none;
}

@media (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .burger {
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .burger div {
    width: 60px;
    height: 10px;
    margin: 10px;
  }
  .toggle .line1 {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: rotate(-45deg) translate(-50%);
    transform: rotate(-45deg) translate(-50%);
  }
  .toggle .line2 {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: rotate(45deg) translate(-50%);
    transform: rotate(45deg) translate(-50%);
  }
  .nav_logo,
  .nav_logo img {
    height: 40px;
  }
  .nav_navigation-ul {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    display: none;
  }
  .nav_navigation-ul a {
    font-size: 70px;
    border: 2px solid white;
  }
  .nav-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav_sticky {
    padding: 50px 0;
  }
  .header_text {
    text-align: center;
  }
  .header_welcome {
    font-size: 80px;
  }
  .header_welcome-text {
    font-size: 40px;
  }
  .header_btn {
    font-size: 35px;
    width: 350px;
    height: 150px;
    margin: 120px auto;
  }
  .main_container {
    width: 95%;
  }
  .main_text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main_logo {
    display: none;
  }
  .main_title {
    font-size: 50px;
  }
  .main_text {
    width: 100%;
  }
  .main_arrow {
    margin: 0;
  }
  .main_text-container {
    width: 65%;
    font-size: 30px;
  }
  .func_title {
    font-size: 50px;
  }
  .func_text {
    font-size: 30px;
  }
  .func_elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .func_elements div {
    width: 700px;
    height: 700px;
    margin: 30px auto;
  }
  .func_elements div img {
    height: 650px;
  }
  .example_title {
    font-size: 50px;
  }
  .example_elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .example_elements div {
    width: 700px;
    height: 700px;
  }
  .example_elements div img {
    height: 650px;
  }
  .example_elements div p {
    font-size: 30px;
  }
  .location_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  .location_title {
    font-size: 50px;
  }
  .location_text-container {
    width: 100%;
    margin: 10px auto;
  }
  .location_text {
    font-size: 30px;
  }
  .team_title {
    font-size: 50px;
  }
  .team_elements {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .team_elements div {
    width: 400px;
    height: 400px;
  }
  .team_elements div img {
    width: 300px;
    height: 300px;
  }
  .t_text {
    font-size: 30px;
  }
  .team_text {
    font-size: 30px;
  }
  .contact_title {
    font-size: 50px;
  }
  .contact_text {
    font-size: 30px;
  }
  .medias_contact-title {
    font-size: 50px;
  }
  .medias_contact {
    font-size: 30px;
  }
  .medias_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 10px 0 rgba(76, 110, 245, 0.2);
    box-shadow: 10px 10px 10px 0 rgba(76, 110, 245, 0.2);
  }
  .medias_contact label {
    -webkit-transform: translateX(-999999px);
    transform: translateX(-999999px);
  }
  input[type="text"],
  input[type="email"],
  .textarea {
    padding: 40px 10px;
    width: 600px;
    border: 1px solid black;
    font-size: 30px;
  }
  .textarea {
    min-height: 300px;
  }
  input:focus {
    outline: none;
    border: 1px solid #15e8d3;
  }
  .form_button {
    font-size: 30px;
    width: 230px;
    padding: 15px 40px;
  }
  .medias_icons-container a {
    font-size: 80px;
  }
  .footer a {
    font-size: 20px;
  }
  .nav__business__back {
    display: block;
    color: white;
    font-size: 56px;
    margin: auto 20px;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav_navigation-ul a {
    font-size: 60px;
  }
  .header_welcome {
    font-size: 60px;
  }
  .header_welcome-text {
    font-size: 30px;
  }
  .main_title {
    font-size: 30px;
  }
  .func_title {
    font-size: 40px;
  }
  .func_elements div {
    width: 600px;
    height: 600px;
    margin: 20px auto;
  }
  .func_elements div img {
    height: 550px;
  }
  .example_title {
    font-size: 40px;
  }
  .example_elements div {
    width: 600px;
    height: 600px;
  }
  .example_elements div img {
    height: 550px;
  }
  .location_title {
    font-size: 40px;
  }
  .team_title {
    font-size: 40px;
  }
  .contact_title {
    font-size: 40px;
  }
  .medias_contact-title {
    font-size: 40px;
  }
  .medias_icons-container a {
    font-size: 80px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__business__back {
    font-size: 36px;
  }
}

@media (max-width: 414px) {
  body {
    overflow-x: hidden;
  }
  .nav_logo,
  .nav_logo img {
    height: 30px;
    font-size: 20px;
  }
  .nav_navigation-ul {
    width: 100%;
  }
  .nav_navigation-ul a {
    font-size: 20px;
    border: 2px solid white;
  }
  .nav_sticky {
    padding: 40px;
  }
  .burger div {
    width: 40px;
    height: 3px;
    background-color: white;
    margin: 8px;
  }
  .header_welcome {
    font-size: 45px;
  }
  .header_welcome-text {
    font-size: 20px;
  }
  .header_btn {
    font-size: 16px;
    width: 200px;
    height: 70px;
    margin: 20px auto;
  }
  .main_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 98%;
  }
  .main_title {
    font-size: 30px;
  }
  .main_text-container {
    width: 98%;
    font-size: 20px;
  }
  .main_text {
    font-size: 16px;
    margin: 20px auto 10px auto;
  }
  .main_text-bottom {
    font-size: 20px;
  }
  .func_container {
    width: 95%;
  }
  .func_title {
    font-size: 30px;
  }
  .func_text {
    font-size: 16px;
  }
  .func_elements div {
    width: 350px;
    height: 350px;
    margin: 5px auto;
  }
  .func_elements div img {
    height: 300px;
  }
  .example_title {
    font-size: 30px;
  }
  .example_elements div {
    width: 350px;
    height: 350px;
  }
  .example_elements div img {
    height: 300px;
  }
  .example_elements div p {
    font-size: 16px;
  }
  .location_title {
    font-size: 30px;
  }
  .location_text {
    font-size: 16px;
  }
  .team_title {
    font-size: 30px;
  }
  .team_elements div {
    width: 350px;
    height: 350px;
  }
  .team_elements div img {
    width: 200px;
    height: 200px;
  }
  .team_text {
    font-size: 16px;
  }
  .contact_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 98%;
  }
  .contact_title {
    font-size: 30px;
  }
  .contact_text {
    font-size: 16px;
    margin: 20px auto 10px auto;
  }
  .medias_contact-title {
    font-size: 30px;
  }
  .medias_contact {
    font-size: 16px;
  }
  input[type="text"],
  input[type="email"],
  .textarea {
    padding: 20px 10px;
    width: 300px;
    border: 1px solid black;
    font-size: 15px;
  }
  .form_button {
    font-size: 16px;
  }
  .textarea {
    min-height: 200px;
  }
  .medias_icons-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .medias_icons-container a {
    font-size: 20px;
  }
  .footer a {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  body {
    overflow-x: hidden;
  }
  .nav_logo,
  .nav_logo img {
    height: 30px;
    font-size: 20px;
  }
  .na_sticky {
    padding: 20px;
  }
  .nav_navigation-ul {
    width: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .nav_navigation-ul li a {
    font-size: 30px;
    margin-left: 10px;
  }
  .header_welcome {
    font-size: 40px;
  }
  .header_welcome-text {
    font-size: 18px;
  }
  .main_container {
    width: 95%;
  }
  .main_title {
    font-size: 30px;
  }
  .main_text-container {
    width: 98%;
    font-size: 20px;
  }
  .main_text {
    font-size: 16px;
    margin: 20px auto 10px auto;
  }
  .main_text-bottom {
    font-size: 20px;
  }
  .func_container {
    width: 95%;
  }
  .func_elements div {
    width: 300px;
    height: 300px;
    margin: 5px auto;
  }
  .func_elements div img {
    height: 250px;
  }
  .example_title {
    font-size: 30px;
  }
  .example_elements div {
    width: 300px;
    height: 300px;
  }
  .example_elements div img {
    height: 250px;
  }
  .example_elements div p {
    font-size: 16px;
  }
  .location_title {
    margin: 5px auto;
  }
  .location_text {
    font-size: 16px;
  }
  .location_warsaw {
    height: 200px;
  }
  .medias_icons-container a {
    font-size: 20px;
  }
  .footer a {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */
